{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Webscraper Application to Covid Map</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet"  href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>

  </head>
  <body>
    <div class="container">
      <nav style= background-color:#00aae4 >
        <div className="nav-wrapper">
          <a className="brand-logo" href="{% url 'index' %}">Home</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'map' %}">Map</a></li>
            <li><a href="{% url 'data' %}">Data</a></li>
          </ul>
        </div>
      </nav>

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

  </div>
  </body>

  {% block body %}

  {% endblock %}
