APScheduler==3.7.0
beautifulsoup4==4.9.3
decorator==4.4.2
Django==2.2.5
folium==0.12.1
ipykernel==5.3.4
ipython==7.21.0
ipython-genutils==0.2.0
Jinja2==2.11.3
numpy==1.19.2
pandas==1.2.3
wheel==0.36.2
